<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        textarea {
            width: 540px;
            height: 200px;
        }

        .btn-analyze {
            margin-top: 20px;
            width: 120px;
            height: 35px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Text Analyzer</h1>
    <form action="/api/analyzer" method="POST">
        <textarea rows="5" cols="30"></textarea>
        <button class="btn-analyze" type="submit">Analyze</button>
    </form>
</div>
</body>
</html>
